video{
    margin-left: 70px;
    width: 400px;
    height: 400px;
}
table {
    width: 400px;
   /* border-spacing: 40px;*/
}

th {
text-align: left;
}

table ,th,td {
border: 1px solid #000;
border-collapse:collapse ;
}

th,td {
padding: 10px;
}

tr :nth-child(even) {
background-color: linear-gradient(rgb(190, 127, 31), rgb(179, 190, 31));
}

tr :nth-child(odd) {
background-color: rgb(238, 229, 213);
}

body{
    background-color: #000;
}